<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
        <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">-->

        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" type="text/css" media="all">
        <script src="static/fa.js" charset="utf-8"></script>


        <link rel="stylesheet" href="index.css">

        <title>Tienda On-line</title>
    </head>
    <body>


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Tienda</a>
            <ul class="navbar-nav ml-auto">
            </ul>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index.html">Productos</a>
                    </li>
                </ul>
                <hr>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <div class="user-login">
                            <span class="user-name"></span>

                            <a href="/login-form/login-form.html" class="login">Login</a>
                            <a href="#" class="logout login-action">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>

        <h1>Su carrito</h1>

        <div class="container">

            <div id="checkoutBtn" class="my-4">
                <h3><a href="checkout.html">Check out</a></h3>
            </div>

            <div id="cartList">
            </div>

        </div>

        <script type="text/x-handlebars-template" id="popover_products_template">
            <ul class="list-group list-group-flush">
                {{#if cart}}
                    {{#each cart}}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{nombre}}
                        <i class="badge badge-primary badge-pill">{{cant}}</i>
                    </li>
                    {{/each}}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="cart.html">Ver carrito</a>
                    </li>
                {{else}}
                    <p>No hay productos en el carrito</p>
                {{/if}} 
            </ul>
        </script>

        <script type="text/x-handlebars-template" id="cart_list_template">
            <ul class="list-group">
                {{#if products}}
                    {{#each products}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{nombre}}
                            <span class="badge badge-primary badge-pill">{{cant}}</span>
                            <div class="actions">
                                <button class="btn btn-primary add-to-cart-btn" data-id="{{id}}">+</button>
                                <button class="btn btn-danger remove-from-cart-btn" data-id="{{id}}">-</button>
                            </div>
                        </li>
                    {{/each}}
                {{else}}
                    <h4>No hay productos en el carrito. Vuelva a <a href="/">productos</a> para agregar productos al carrito</h4>
                {{/if}}
            </ul>
        </script>

        <script src="static/jquery.min.js" charset="utf-8"></script>
        <script src="static/tooltip.min.js" charset="utf-8"></script>
        <script src="static/popper.min.js" charset="utf-8"></script>

        <script src="static/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>

        <script src="static/jquery.loadTemplate.min.js" charset="utf-8"></script>

        <script src="static/handlebars-v4.1.1.js" charset="utf-8"></script>

        <script src="utils.js" charset="utf-8"></script>

        <script src="cart.js" charset="utf-8"></script>
    </body>
</html>
