<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
        <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">-->

        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" type="text/css" media="all">
        <script src="static/fa.js" charset="utf-8"></script>


        <link rel="stylesheet" href="index.css">

        <title>Tienda On-line</title>
    </head>
    <body>


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Tienda</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button id="checkoutBtn" class="btn btn-outline-light">Comprar</button>
                </li>
                <li class="nav-item m-2">
                </li>

                <li class="nav-item">
                    <div class="nav-item ml-auto" id="showCartBtn">
                        <a tabindex=0 id="popoverCart" class="btn btn-outline-light" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" title="Mi carrito">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge badge-light prod-quant"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Productos</a>
                    </li>
                </ul>
                <hr>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <div class="user-login">
                            <span class="user-name"></span>

                            <a href="/login-form/login-form.html" class="login">Login</a>
                            <a href="#" class="logout login-action">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="main container">
            <div id="listProducts"></div>
        </div>

        <div id="cartProducts" style="display:none;">
        </div>

        <script type="text/x-handlebars-template" id="products_template">
            <div class="row">
                {{#each products}}
                <div class="col-md-4 col-sm-6">
                    <div class="card" style="width: 12rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{nombre}}</h5>
                        <h5 class="money">$ {{precio}}</h5>
                        <p>{{descripcion}}</p>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary add-to-cart-btn px-3" data-id="{{id}}"> + </button>
                            <button class="btn btn-danger remove-from-cart-btn px-3" data-id="{{id}}"> - </button>
                        </div>
                      </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </script>


        <script type="text/x-handlebars-template" id="popover_products_template">
            <ul class="list-group list-group-flush">
                {{#if cart}}
                    {{#each cart}}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{nombre}}
                        <i class="badge badge-primary badge-pill">{{cant}}</i>
                    </li>
                    {{/each}}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="cart.html">Ver carrito</a>
                    </li>
                {{else}}
                    <p>No hay productos en el carrito</p>
                {{/if}} 
            </ul>
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
        <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

        <script src="static/jquery.min.js" charset="utf-8"></script>
        <script src="static/tooltip.min.js" charset="utf-8"></script>
        <script src="static/popper.min.js" charset="utf-8"></script>

        <script src="static/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>

        <script src="static/jquery.loadTemplate.min.js" charset="utf-8"></script>

        <script src="static/handlebars-v4.1.1.js" charset="utf-8"></script>

        <script src="utils.js" charset="utf-8"></script>
        <script src="script.js" charset="utf-8"></script>
    </body>
</html>
